.footer a{
    text-decoration: none;
    color: white;
}

.footer a:hover{
    text-decoration: underline;
}

.footer{
    overflow-y: hidden;
}

.container{
    max-width: 100%;
    background-color: #2d2d2d;
}

.footer img{
    width: 70%;
    height: auto;
}

.footer p{
    font-weight: 300;
}